body {
  margin: 41px 0 60px 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  body {
    margin: 15px 0 25px 0;
  }
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  color: #42446e;
}

h1,
h2 {
  margin: 0;
}

p {
  color: #666;
  margin: 0;
}

header {
  font-family: "DM Sans", sans-serif;
  display: flex;
  gap: 19.1vw;
  margin-left: 11vw;
  margin-right: 0;
}
@media screen and (max-width: 1280px) and (min-width: 768px) {
  header {
    display: flex;
    gap: 10vw;
    margin-left: 7.5vw;
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
  header {
    display: flex;
    gap: 5vw;
    margin-left: 6vw;
    margin-right: 0;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  header {
    display: flex;
    gap: 3vw;
    margin-left: 5vw;
    margin-right: 0;
    justify-content: space-between;
    align-items: center;
  }
}

.main-logo,
.logo {
  object-fit: cover;
}
@media screen and (max-width: 1280px) and (min-width: 768px) {
  .main-logo,
  .logo {
    width: 77px;
  }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
  .main-logo,
  .logo {
    width: 50px;
  }
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .main-logo,
  .logo {
    width: 35px;
  }
}

.mobile-menu-container {
  display: none;
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .mobile-menu-container {
    display: block;
  }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
  .mobile-menu-container {
    display: block;
  }
}

.mobile-menu-icon {
  width: 28px;
}
@media screen and (max-width: 768px) and (min-width: 480px) {
  .mobile-menu-icon {
    width: 30px;
  }
}

.links {
  display: flex;
  gap: 51px;
}
@media screen and (max-width: 1280px) and (min-width: 768px) {
  .links {
    display: flex;
    gap: 41px;
  }
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .links {
    display: none;
  }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
  .links {
    display: none;
  }
}

.navigation-list {
  margin-top: 8px;
  display: flex;
  gap: 66px;
}
@media screen and (max-width: 1280px) and (min-width: 768px) {
  .navigation-list {
    display: flex;
    display: flex;
    gap: 38px;
  }
}
.navigation-list__text-link {
  color: #666;
  transition: color 0.5s;
}
.navigation-list__text-link__header {
  color: #666;
  transition: color 0.5s;
  font-size: calc(14px + 0.375vw);
}
@media screen and (max-width: 1280px) and (min-width: 768px) {
  .navigation-list__text-link__header {
    font-size: calc(14px + 0.15625vw);
  }
}
.navigation-list__text-link:hover,
.navigation-list__text-link__header:hover {
  color: rgba(102, 102, 102, 0.5);
}

.links-list {
  margin-top: 5px;
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 1280px) and (min-width: 768px) {
  .links-list {
    display: flex;
    gap: 10px;
  }
}

@media screen and (max-width: 1280px) and (min-width: 768px) {
  .link-icon {
    width: 20px;
    height: auto;
  }
}

.greeting-banner {
  margin: 220px 13% 0 11vw;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1280px) and (min-width: 768px) {
  .greeting-banner {
    margin: 130px 13% 0 11vw;
  }
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .greeting-banner {
    flex-direction: column-reverse;
    gap: 30px;
    align-items: center;
    margin: 30px 13% 0 0;
  }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
  .greeting-banner {
    flex-direction: column-reverse;
    gap: 30px;
    align-items: center;
    margin: 40px 13% 0 0;
  }
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .avatar-container {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
  .avatar-container {
    display: flex;
    justify-content: center;
  }
}

.greetings-container {
  padding-top: 50px;
}
@media screen and (max-width: 1280px) and (min-width: 768px) {
  .greetings-container {
    padding-top: 30px;
  }
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .greetings-container {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.greetings {
  margin: 0;
  font-weight: 700;
  font-size: 58px;
  line-height: 70px;
  font-style: normal;
  font-size: calc(14px + 2.75vw);
}
@media screen and (max-width: 1280px) and (min-width: 768px) {
  .greetings {
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    font-style: normal;
    font-size: calc(14px + 2.125vw);
  }
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .greetings {
    font-weight: 700;
    font-size: 24px;
    line-height: 15px;
    font-style: normal;
    font-size: calc(14px + 0.625vw);
  }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
  .greetings {
    font-weight: 700;
    font-size: 36px;
    line-height: 35px;
    font-style: normal;
    font-size: calc(14px + 1.375vw);
  }
}

.gradient-text {
  color: transparent;
  background-image: linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%);
  background-clip: text;
}

.avatar {
  object-fit: cover;
}
@media screen and (max-width: 1280px) and (min-width: 768px) {
  .avatar {
    width: 279px;
  }
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .avatar {
    width: 200px;
  }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
  .avatar {
    width: 250px;
  }
}

.tech-stack-banner {
  margin-top: 323px;
  flex-direction: column;
  align-items: center;
  margin-left: 134px;
  margin-right: 130px;
  display: flex;
  gap: 140px;
}
@media screen and (max-width: 1280px) and (min-width: 768px) {
  .tech-stack-banner {
    margin-top: 253px;
    margin-left: 94px;
    margin-right: 90px;
    display: flex;
    gap: 100px;
  }
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .tech-stack-banner {
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    gap: 40px;
  }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
  .tech-stack-banner {
    margin-top: 150px;
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    gap: 60px;
  }
}

.tech-stack-headings,
.project-headings {
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 49px;
}
@media screen and (max-width: 1280px) and (min-width: 768px) {
  .tech-stack-headings,
  .project-headings {
    display: flex;
    gap: 29px;
  }
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .tech-stack-headings,
  .project-headings {
    display: flex;
    gap: 15px;
  }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
  .tech-stack-headings,
  .project-headings {
    display: flex;
    gap: 25px;
  }
}

.tech-stack-remark,
.project-remark {
  color: #666;
  font-weight: 400;
  font-size: 32px;
  line-height: 26px;
  font-style: normal;
}
@media screen and (max-width: 1280px) and (min-width: 768px) {
  .tech-stack-remark,
  .project-remark {
    font-weight: 400;
    font-size: 26px;
    line-height: 24px;
    font-style: normal;
    font-size: calc(14px + 0.75vw);
  }
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .tech-stack-remark,
  .project-remark {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
  }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
  .tech-stack-remark,
  .project-remark {
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    font-style: normal;
  }
}

.tech-stack-heading,
.project-heading {
  margin: 0;
  font-weight: 900;
  font-size: 48px;
  line-height: 26px;
  font-style: normal;
}
@media screen and (max-width: 1280px) and (min-width: 768px) {
  .tech-stack-heading,
  .project-heading {
    font-weight: 700;
    font-size: 38px;
    line-height: 24px;
    font-style: normal;
    font-size: calc(14px + 1.5vw);
  }
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .tech-stack-heading,
  .project-heading {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    font-style: normal;
  }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
  .tech-stack-heading,
  .project-heading {
    font-weight: 700;
    font-size: 30px;
    line-height: 24px;
    font-style: normal;
  }
}

.tech-icons {
  width: 100%;
}
.tech-icons__list {
  justify-content: center;
  row-gap: 70px;
  column-gap: 104px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 120px));
}
@media screen and (max-width: 1280px) and (min-width: 768px) {
  .tech-icons__list {
    row-gap: 50px;
    column-gap: 84px;
  }
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .tech-icons__list {
    grid-template-columns: repeat(auto-fit, minmax(40px, 40px));
    row-gap: 30px;
    column-gap: 40px;
  }
}

.tech-icon {
  object-fit: cover;
}
@media screen and (max-width: 1280px) and (min-width: 768px) {
  .tech-icon {
    width: 100px;
    height: auto;
  }
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .tech-icon {
    width: 40px;
    height: auto;
  }
}

.tech-stack-remark {
  color: #666;
}

.project-section {
  margin: 188px 189px 0 193px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 96px;
}
@media screen and (max-width: 1280px) and (min-width: 768px) {
  .project-section {
    margin: 188px 189px 0 193px;
    display: flex;
    gap: 56px;
  }
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .project-section {
    margin: 90px 0 0 0;
    display: flex;
    gap: 36px;
  }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
  .project-section {
    margin: 100px 0 0 0;
    display: flex;
    gap: 46px;
  }
}

.project-cards {
  width: 100vw;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1280px) {
  .project-cards__list {
    row-gap: 64px;
    column-gap: 47px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(340px, 373px));
  }
}
@media screen and (max-width: 1280px) and (min-width: 768px) {
  .project-cards__list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 373px);
    row-gap: 54px;
    column-gap: 30px;
  }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
  .project-cards__list {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .project-cards__list {
    display: grid;
    justify-content: center;
    row-gap: 20px;
    grid-template-columns: repeat(1, 270px);
  }
}

.card {
  box-shadow: 2px 2px 100px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  transition: box-shadow 0.5s;
  width: 373px;
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .card {
    width: 270px;
  }
}

.card:hover {
  box-shadow: 2px 2px 100px 0 rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .card-image {
    width: 270px;
  }
}

.card-info {
  padding: 23px 31px 25px 28px;
  flex-direction: column;
  display: flex;
  gap: 21px;
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .card-info {
    padding: 18px 26px 20px 23px;
    display: flex;
    gap: 16px;
  }
}

.about-project-info {
  flex-direction: column;
  display: flex;
  gap: 12px;
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .about-project-info {
    display: flex;
    gap: 7px;
  }
}

.small-card-info {
  flex-direction: column;
  display: flex;
  gap: 17px;
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .small-card-info {
    display: flex;
    gap: 12px;
  }
}

.card-heading {
  color: #000;
  font-weight: 500;
  font-size: 28px;
  line-height: 26px;
  font-style: normal;
}
@media screen and (max-width: 1280px) and (min-width: 768px) {
  .card-heading {
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    font-style: normal;
  }
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .card-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    font-style: normal;
  }
}

.card-description {
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  font-style: normal;
}
@media screen and (max-width: 1280px) and (min-width: 768px) {
  .card-description {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
  }
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .card-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
  }
}

.project-stack {
  color: #42446e;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  font-style: normal;
}
@media screen and (max-width: 1280px) and (min-width: 768px) {
  .project-stack {
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    font-style: normal;
  }
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .project-stack {
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    font-style: normal;
  }
}

.bold {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  font-style: normal;
}
@media screen and (max-width: 1280px) and (min-width: 768px) {
  .bold {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
  }
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .bold {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
  }
}

.project-links {
  display: flex;
  gap: 48px;
}
@media screen and (max-width: 1280px) and (min-width: 768px) {
  .project-links {
    display: flex;
    gap: 34px;
  }
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .project-links {
    display: flex;
    gap: 24px;
  }
}

.link-container {
  align-items: center;
  display: flex;
  gap: 12px;
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .link-container {
    display: flex;
    gap: 8px;
  }
}

.link-container > img {
  width: 20px;
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .link-container > img {
    width: 15px;
  }
}

.project-link {
  color: #000;
  border-bottom: 1px solid #000;
  transition:
    color 0.5s,
    border-bottom-color;
}
@media screen and (max-width: 1280px) and (min-width: 768px) {
  .project-link {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
  }
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .project-link {
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    font-style: normal;
  }
}

.project-link:hover {
  color: #666;
  border-bottom: 1px solid #666;
}

footer {
  margin-top: 209px;
  margin-left: 180px;
  margin-right: 209px;
}
@media screen and (max-width: 1280px) and (min-width: 768px) {
  footer {
    margin-top: 179px;
    margin-left: 10.5vw;
    margin-right: 12.4vw;
  }
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  footer {
    margin-top: 100px;
    margin-left: 4vw;
    margin-right: 4vw;
  }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
  footer {
    margin-top: 150px;
    margin-left: 7vw;
    margin-right: 7vw;
  }
}

.messengers-links {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 42px;
}
@media screen and (max-width: 1280px) and (min-width: 768px) {
  .messengers-links {
    padding-bottom: 32px;
  }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
  .messengers-links {
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .messengers-links {
    padding-bottom: 25px;
  }
}

.contacts-links {
  align-items: center;
  margin-top: 5px;
  display: flex;
  gap: 93px;
}
@media screen and (max-width: 1280px) and (min-width: 768px) {
  .contacts-links {
    display: flex;
    gap: 53px;
  }
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .contacts-links {
    display: flex;
    flex-direction: column;
    display: flex;
    gap: 10px;
  }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
  .contacts-links {
    display: flex;
    flex-direction: column;
    display: flex;
    gap: 15px;
  }
}

.messengers {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 1280px) and (min-width: 768px) {
  .messengers {
    display: flex;
    gap: 15px;
  }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
  .messengers {
    display: flex;
    gap: 15px;
  }
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .messengers {
    display: flex;
    gap: 10px;
  }
}

.contacts {
  display: flex;
  gap: 74px;
}
@media screen and (max-width: 1280px) and (min-width: 768px) {
  .contacts {
    display: flex;
    gap: 24px;
  }
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .contacts {
    display: flex;
    flex-direction: column;
    display: flex;
    gap: 7px;
  }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
  .contacts {
    display: flex;
    flex-direction: column;
    display: flex;
    gap: 12px;
  }
}
.contacts__contact {
  color: #42446e;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  font-style: normal;
  font-size: calc(14px + 0.125vw);
}
@media screen and (max-width: 1280px) and (min-width: 768px) {
  .contacts__contact {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    font-size: calc(14px + 0vw);
  }
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .contacts__contact {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    font-style: normal;
  }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
  .contacts__contact {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
  }
}

.messenger-icon {
  object-fit: cover;
}
@media screen and (max-width: 1280px) and (min-width: 768px) {
  .messenger-icon {
    width: 20px;
  }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
  .messenger-icon {
    width: 20px;
  }
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .messenger-icon {
    width: 18px;
  }
}

.footer-navigation {
  margin-top: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  font-style: normal;
  font-size: calc(14px + 0.125vw);
  display: flex;
  gap: 56px;
}
@media screen and (max-width: 1280px) and (min-width: 768px) {
  .footer-navigation {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    font-size: calc(14px + 0vw);
    display: flex;
    gap: 36px;
  }
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .footer-navigation {
    display: flex;
    flex-direction: column;
    display: flex;
    gap: 10px;
  }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
  .footer-navigation {
    display: flex;
    flex-direction: column;
    display: flex;
    gap: 20px;
  }
}

.navigation-links {
  margin-top: 55px;
  padding-left: 10px;
  display: flex;
  gap: 176px;
}
@media screen and (max-width: 1280px) and (min-width: 768px) {
  .navigation-links {
    flex-direction: column;
    margin-top: 35px;
    padding-left: 7px;
    display: flex;
    gap: 26px;
  }
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .navigation-links {
    margin-top: 20px;
    padding-left: 7px;
    display: flex;
    gap: 20px;
  }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
  .navigation-links {
    margin-top: 25px;
    padding-left: 7px;
    display: flex;
    gap: 15px;
  }
}

.footer-link {
  color: #42446e;
}

.gradient-first {
  color: transparent;
  background-image: linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%);
  background-clip: text;
}

.gradient-second {
  color: transparent;
  background-image: linear-gradient(
    90deg,
    rgb(19, 176, 245) 0%,
    rgb(121, 99, 209) 0%,
    rgb(149, 77, 199) 53%,
    rgb(178, 55, 189) 100%,
    rgb(231, 15, 170) 100%
  );
  background-clip: text;
}

.gradient-third {
  color: transparent;
  background-image: linear-gradient(
    90deg,
    rgb(19, 176, 245) 0%,
    rgb(121, 99, 209) 0%,
    rgb(149, 77, 199) 0%,
    rgb(178, 55, 189) 0%,
    rgb(231, 15, 170) 100%
  );
  background-clip: text;
}

.copyright,
.phone-number {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  font-style: normal;
  font-size: calc(14px + 0.25vw);
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .copyright,
  .phone-number {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
  }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
  .copyright,
  .phone-number {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
  }
}

@media screen and (max-width: 1280px) and (min-width: 768px) {
  .copyright {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
  }
}

/*# sourceMappingURL=styles.css.map */
